html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		script(type='text/javascript',src='//code.jquery.com/jquery-1.11.0.min.js')
		script(type='text/javascript',src='/socket.io/socket.io.js')
		script(type='text/javascript',src='/app/index.js')
		
		script(type='text/javascript').
			$(document).ready(function(){
				$('#messagebutton').click(function(){
					message=$('#messagetext'),val();
					$post("http://localhost:3000/api/message",{message : message},function(data){
						console.log(data.user);
					});
				});
			});
	body
		div#messagebox
			form(name="message")
				input(type="text", name="message",id="messagetext")
				input(type="submit", value="send",id="messagebutton")

		div#chatbox
