html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
		script(type='text/javascript',src='//code.jquery.com/jquery-1.11.0.min.js')
		script(type='text/javascript',src='/socket.io/socket.io.js')
		script(type='text/javascript').
			$(document).ready(function(){
				$("#signupbutton").click(function(){
					user=$('#signuptext').val()
					$.post("http://localhost:3000/api/signup",{user : user},function(data){
						if(data.success)
							alert(data.message)
					});
				});
			});
		script(type='text/javascript').
			$(document).ready(function(){
				$("#loginbutton").click(function(){
					user=$('#logintext').val()
					$.post("http://localhost:3000/api/login",{user : user},function(data){
						//if(data.success)
							//window.location.href='http://localhost:3000/chat';
					});
				});
			});
		title!= title
	body
		h1!= Welcome
		div#loginbox
			form(name="login")
				input(type="text", name="user",id="logintext")
				input(type="submit", value="login",id="loginbutton")
		div#signupbox
			form(name="signup")
				input(type="text", name="user",id="signuptext")
				input(type="submit", value="signup",id="signupbutton")